@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: 'icomoon';
    src:    url('webfonts/icomoon/icomoon.eot?pehhgc');
    src:    url('webfonts/icomoon/icomoon.eot?pehhgc#iefix') format('embedded-opentype'),
        url('webfonts/icomoon/icomoon.ttf?pehhgc') format('truetype'),
        url('webfonts/icomoon/icomoon.woff?pehhgc') format('woff'),
        url('webfonts/icomoon/icomoon.svg?pehhgc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:after {
    content: "\edba";
}
.icon-arrow-left:before {
    content: "\edc2";
}
.icon-email:before {
    content: "\e900";
}
.icon-linkedin:before {
    content: "\e901";
}
.icon-me:before {
    content: "\e902";
}



/*reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: rgb(51, 51, 51);
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
border:0;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.loop {
  z-index: 999;
  position: absolute;
  display: inline-block;
  text-align: center;
}

/* ------------------------------------------------------------------ GENERAL STYLES ------------------------------------------------------------------ */

/*config*/
h1,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.3em;
  color: #3DC2CF;
  line-height: 2em;
}

.description h2,  #aboutSection h2{
  font-size: 3em;
 font-family: 'Rokkitt', serif;
 font-weight:700;
 color:#fff;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 11px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #fff;
   font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 1em;
}

#logo {
  max-width: 200px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

#logo img{
	width:150px;
}

#logoThumb {
	float:left;
  padding:5px 0 0 25px;
  font-size:2.8em;
  line-height:1em;
}

#logoThumb a:link, #logoThumb a:visited{
	  color:#000;
	    font-family: 'Montserrat', sans-serif;
		font-weight:700;
		letter-spacing:2px;
		text-decoration:none;
		text-transform:uppercase;
		float:left;
}

#logoThumb h2{
color:#5e6f82;
font-size:18px;
letter-spacing:2px;
text-transform:uppercase;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
float:left;
padding-left:30px;
}

#logoThumb a:hover, #logoThumb a:active{
	color:#5e6f82;
}

#logoThumb img, #footerInner img.logo{
	max-width:60px;
	height:auto;
}

#logo:hover {
  opacity: 0.5%;
}

.fa-10x {
  font-size: 10em;
}

.fa {
  color: #ffffff;
}

footer .fa-inverse {
  color: #1F252E;
}

header {
  background: #fff;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
  text-align: center;
}
/* ------------------------------------------------------------------ NAVIGATION------------------------------------------------------------------ */

.navbar::before, .navbar::after {
    content: " ";
    display: table;
}


.navbar::after {
    clear: both;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3DC2CF;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color:#5e6f82;
  padding: 0;
  margin: 0 25px;
  font-size: 3.6em;
  font-family: 'Open Sans', sans-serif;
  line-height:normal;
  opacity:0.6;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a.focus, .navbar-default .navbar-nav > li > a.visited {
  opacity:1;
  color:#5e6f82;
}

.navbar-default {
  background:#fff;
 
  border: none;
 
}

.navbar-nav li{list-style:none;
float:left;
}


.navbar-nav {
  width: 330px;
  margin: 0 auto;
  float: none;
}

#navbarInner {
    margin: 35px auto 0 auto;
}

.navbar-default .menu-home {
  display: none;
}

.navbar-fixed-top .navbar-nav {
  float: right;
  width: auto;
}

.navbar-fixed-top .menu-home {
  display: block;
}

.navbar-fixed-top ul.menu-social {
  display: block;
}

.navbar-fixed-top.internal {
  position: relative;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  position:relative;
  height:120px;
  padding:0 100px;
  
}

.item .fa-angle-right, .item .fa-angle-left {
  color: #fff;
  position: absolute;
}

.container.portfolio .fa-angle-right {
  right: 20px;
  bottom: 20px;
}

ul.menu-social {
  margin: 50px auto 0 15px;
  width: 210px;
  float:right;
}

ul.menu-social li {
  float: left;
  list-style-type: none;
  margin:8px 0 0 20px;
  opacity: 0.8;
}

ul.menu-social li img {
  width: 45px;
}

ul.menu-social li a {
  display: inline-block;
}

ul.menu-social li:hover {
  opacity: 1;
}

ul.menu-social .fa {
	color:#5e6f82;
	
}

.menu-item-social{
	box-shadow: 0 0 0 0.05em inset;
	border-radius:99em;
}


/* ------------------------------------------------------------------ FRONT PAGE ------------------------------------------------------------------ */
.container {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  clear: both;
}

#introSection {
  width: 85%;
  padding: 50px 0;
}

.container.intro ul {
  margin: 0 auto;
  vertical-align: middle;
}

.container.intro ul li {
  color: #3DC2CF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 10px;
  list-style-type: none;
  float: left;
  font-size: 1.2em;
}

.container.intro ul li a:link, .container.intro ul li a:visited {
  color: #3DC2CF;
}

.container.intro ul li a:hover, .container.intro ul li a:active, .container.intro ul li a:focus {
  color: #21282E;
  text-decoration: none;
}

.container.intro .dot {
  color: #3DC2CF;
  padding: 0 10px;
}

.arrow_box {
  position: relative;
}

.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
  z-index: 999;
}


span.highlight {
  color: #3dc2cf;
  font-family: 'Playfair-bold', serif;
}

.container.contact {
  background: #222326;
  min-height: 500px;
}

.container.contact img {
  max-width: 100%;
}

.container #contactForm {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.form-control {
    border: medium none;
}
.form-control {
    background-color: #404145;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
	font-family:'Open Sans', sans-serif;
}

#inputMessage{
	min-height:100px;
}

.form-group {
    margin-bottom: 15px;
}
 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

p.contact, p.bg-success {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  padding: 3% 0;
}

.form-control {
  border: none;
}

.form-control:focus {
 background:#5a5c62;
}

.btn {
  font-size: 1.2em;
  margin: 7% 5% 7% 0;
  padding: 10px 15px;
  border-radius:4px;
  display:inline-block}

.btn-default {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
}


.btn-default:hover, .btn-default:focus, .btn-default:active {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor:pointer;
}

#contactForm .btn-default {
  background-color: #65a8b7;
  color: #fff;
  border-color: #65a8b7;
  float:none;
}

#contactForm .btn-default:hover, #contactForm .btn-default:focus, #contactForm .btn-default:active {
  background-color: #3f8ea0;
  color: #fff;
  border-color: #3f8ea0;
}

ul#filters {
  float: right;
}

	
/* ------------------------------------------------------------------ HOMEPAGE IMAGES AND OVERLAYS ------------------------------------------------------------------ */


#pageContainer{
	padding:0 100px 100px 100px;
	background:#fff;
}


body.internal #pageContainer{
	padding:0;
	background:transparent;
}


.container.portfolio:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.item,
.grid-sizer {
  width: 25%;
  padding:5px;
}

.item {
  float:left;
  overflow: hidden;
  position: relative;
  display:block;
  vertical-align: top;
  
}

.container.portfolio a {
	display:block;
	height:100%;
	background:#e8ebf2;
}

.item.w2 {
  width:40%;
   height:auto;
}

.item img, .item.w2 img {
  max-width: 100%;
   height:auto;
  position: relative;
  display:block;
 
}

.item .mask, .item .content {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.item h2 {
  color: #FFFFFF;
  font-family: "Rokkitt",serif;
  font-size: 3em;
  padding: 0 10px;
  position: relative;
}


.item.dark h2, .item.dark p, .dark .fa-arrow-circle-o-right, .dark .fa-arrow-circle-o-left {
  color: #fff;
}


.item p {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  padding: 0 10px;
  position: relative;
  margin-top: 0;
}

.item a.info {
  background: none repeat scroll 0 0 #000000;
  box-shadow: 0 0 1px #000000;
  color: #FFFFFF;
  display: inline-block;
  padding: 7px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.item-first img {
  transition: all 0.1s linear 0s;
}

.item-first .mask {
  opacity: 0;
  transition: all 0.1s ease-in-out 0s;
  border:5px solid #fff;
  text-align:center;
}

.item-first .mask .description{
	top:50%;
	transform:translateY(-50%);
	position:relative;
}


.item-first a.info {
  opacity: 0;
}

.item-first:hover .mask {
	opacity:1;
  background:rgba(0,0,0,0.7);
  
}

.item-first:hover .mask h2, .item-first:hover p, .item-first:hover a.info {
  opacity: 1;
  text-decoration:none;
}

.item ul li a {
  font: inherit;
  color: inherit;
}


/* ------------------------------------------------------------------ INTERNAL PAGE ------------------------------------------------------------------ */


#aboutSection{
	background-image:url(/images/about/bg.png);	
	position:absolute;
	height:100%;
	background-position:center center;
	 background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}


#aboutSection .content{
	width:50%;
	padding:125px;
	
}

.portfolioDesc .description.arrows{
	position:fixed;
	width:27%;
	right:0;
	bottom:0;
	height:90px;
	background:  rgba(0, 0, 0, 0.2);
	z-index:1;
	padding:0;
}

a.nav-button{
	display: block;
    height: 100%;
    padding: 35px 40px;
	color:#fff;
	font-size:1em;
	font-family: 'Open Sans', sans-serif;
}

a.nav-button:hover{
	opacity:0.5;
}

.arrowtext{
	color:rgba(255,255,255,0.6);
}


.prev-nav-button{ 
    float: left;
}

.next-nav-button{
	float:right;
}

.prev-nav-button:before{ 
font-family: 'icomoon', sans-serif;
 content: "\edc2";
 font-size:1.3em;
 vertical-align:middle; 
 padding-right:10px;
}

.next-nav-button:after{
	font-family: 'icomoon', sans-serif;
	content: "\edba";
	 font-size:1.3em;
	  vertical-align:middle; 
	  padding-left:10px;
}


body.internal span.previous {
  position: absolute;
  left: 80px;
  top: 35px;
  color: #3DC2CF;
}

body.internal span.next {
  position: absolute;
  right: 80px;
  top: 35px;
  color: #3DC2CF;
}

/* ------------------------------------------------------------------ WORK SECTION ------------------------------------------------------------------ */

.navbarTopFix {
  margin-top: 100px;
}


.portfolioDesc {
  position:absolute;
 width:27%;
 height:100%;
 right:0;
}

.portfolioDesc .description{
 padding:10%;
}

.portfolioDesc h3, #aboutSection h3{
	font-size:1.8em;
	color:#fff;
	line-height:1.6em;
}

.portfolioDesc p{
	margin-top:2em;
}

.portfolioDesc img {
  width: 100%;
  max-width: 1000px;
}

.portfolioDescription .description {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.portfolioDescription .testimonial p, .portfolioDescription .footnote p {
  color: #3dc2cf;
  padding: 0 10%;
}

.portfolioDescription .testimonial p {
  font-size: 1.8em;
  line-height: 1.5em;
  font-style: italic;
}

.slides{
	   height: 100%;
    position: fixed;
    top: 120px;
    width: 100%;
}

.portfolioMain {
  background:#e8ebf2;
   background: #e8ebf2 none repeat scroll 0 0;
    height: 100%;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 73%;
    z-index: -1;
}

.portfolioMain img {
  width: 100%;
  vertical-align: top;
}

.portfolioMain img.narrow {
  max-width: 600px;
}

.portfolioMain img.wide {
  max-width: 800px;
}

.portfolioMain img.xsmall {
  max-width: 300px;
}

.portfolioMain img.xwide {
  max-width: 1000px;
}

footer {
  width: 100%;
  clear: both;
  background: #222326;
  padding: 2rem;
  color:#fff;
}

footer #footerInner {
  text-align: center;
  color: #fff;
}

footer p, footer h2 {
  font-family: 'Open Sans', sans-serif;
  clear: both;
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}

footer p {
  font-size: 1em;
  margin:0;
  padding:20px;
}

footer #footerInner img {
  padding: 40px 0;
}

#slideshow {  
    position: relative; 
    width: 100%; 
    height: 100%; 
    padding: 10px; 

}

#slideshow div { 
    position: absolute; 
    top: 0; 
    left: 0; 
}



.cbp-bislideshow li {
	position: absolute;
	top:0;
	height: 100%;
	width:100%;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}

.cbp-bicontrols {
	position: fixed;
	width: 300px;
	height: 100px;
	margin: -50px 0 0 -150px;
	top: 50%;
	left: 50%;
}

.cbp-bicontrols span {
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 80px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
	opacity: 1;
}

.cbp-bicontrols span:active:before {
	top: 2px;
}

span.cbp-biplay:before {
	content: "\e002";
}

span.cbp-bipause:before {
	content: "\e003";
}

span.cbp-binext:before {
	content: "\e000";
}

span.cbp-biprev:before {
	content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
	float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
	display: block;
}



@media all and (max-width: 2000px) {	

.container .item {
  width:25%;
  overflow: hidden;
  position: relative;
}

.container .item.w2 {
  width:50%;
}



}

@media all and (max-width: 1620px) {
	
	a.nav-button {
	padding:34px;
}
	
	.item h2 {
		font-size:2.5em;
	} 
	
	.item p {
		font-size:1em;
	} 
#pageContainer, .navbar{
	padding:0 50px 50px;
}

#aboutSection .content {
    padding: 50px 0 40px 75px;
    width: 60%;
}

}


@media all and (max-width: 1300px) {	



.portfolioDesc, .portfolioDesc .description.arrows{
	width:30%;
}

.cbp-bislideshow{
	width:70%;
}

  .container .item {
    width:33.33%;
  }

  .container .item.w2 {
    width:66.66%;
  }                

  .portfolioDescription .description {
    width: 96%;
  }
}

@media all and (max-width: 1200px) {
	
	
	
	#aboutSection .content {
    padding: 50px 50px 0 55px;
    width: 100%;
}

	
	.portfolioDesc .description{
 padding:5%;
}

	
.portfolioDesc{
	width:100%;
	height:auto;	
	position:relative;
	clear:both;
}

.portfolioMain{
	width:100%;
	min-height:700px;
	position:relative;
}

.portfolioDesc, .portfolioDesc .description.arrows{
	position:relative;
	width:100%;
	clear:both;
}

a.nav-button {
	padding:34px 5%;
}

.navbar, #pageContainer{
	padding:0 20px 20px;
}

#aboutSection .content {
    padding: 50px 45px 0;
}

.navbar-default .navbar-nav > li > a{
	margin:0 20px;
}
}

@media all and (max-width: 1024px) {

  p {
    font-size: 1.3em;
  }

  h1 {
    font-size: 2.2em;
    line-height: 1.2em;
  }

  .portfolioDescription .description {
    padding: 70px 0;
  }

  .portfolioMain img {
    margin: 3% 0;
  }

  .portfolioInner {
    padding: 0 2%;
  }
}


@media all and (max-width: 900px) {
	

#aboutSection{
	z-index:-2;
}

  .container .item {
    width: 50%;
  }

  .container .item.w2 {
    width: 100%;
  }
  
 
  
   .navbar-nav > li > a {
    padding: 15px;
  }
}

@media all and (max-width: 800px) {


 

  .navbar-nav > li {
    float: left;
  }

 
   
  
}

@media all and (max-width: 780px) {
	
	#aboutSection .content {
    padding: 50px 35px 0;
}
	
	
	
	
	.portfolioMain {
    min-height: 650px;
	}
	
	.container #contactForm {
		padding:0 3%;

}

.portfolioDesc, .portfolioMain{
	width:100%;
	position:relative;
	float:none;
}

.portfolioDesc .description.arrows{
	width:100%;
}

.navbar-default .navbar-nav > li > a{
	margin:0 15px;
}

#logoThumb, #logoThumb h2{
	padding-left:15px;
}
 
}

@media all and (max-width: 630px) {

#aboutSection{
	background-image:none;	
	background-color:#8c9baa;
	position:relative;
	height:auto;
	  
	-webkit-background-size: contain;
	-moz-background-size:contain;
	-o-background-size:contain;	
	background-size: contain;
}
	
	.navbar{
		height:80px;
	}
	
	#navbarInner {
    margin: 15px auto 0;
}
	

	
	.item h2 {
		font-size:3em;
	} 
	
	.item p {
		font-size:1.2em;
	} 
	
	
	
	.portfolioMain {
    min-height: 600px;
	}
	
  p {
    font-size: 1.1em; line-height:1.8em;
  }

  h1 {
    font-size: 2em;
  }

  .navbar-default .navbar-nav > li > a {
    margin: 35px 0 0 20px;
  }

  .navbar-nav {
    width: 290px;
  }


  .container .item {
    width: 100%;
  }

  .container .item.w2 {
    width: 100%;
  }
  
  

#logoThumb h2{
	display:none;
}

  .navbar-fixed-top .navbar-nav {
    float: right;
    padding-left: 0;
  }
  
  .navbar, #pageContainer{
	padding:0 10px 10px;
}

	#aboutSection .content {
    padding: 50px 25px 0;
}


.navbar-default .navbar-nav > li > a{
	font-size:3.4em;
}
  footer h2 {
    font-size: 1.3em;
  }

  .container.contact {
    min-height: 450px;
  }

  .portfolioDescription .description {
    padding: 50px 0;
  }

 
}

@media all and (max-width: 400px) {
	
	.navbar-fixed-top .navbar-nav{
		padding-right:10px;
	}
	
	.arrowtext {
		display:none;
	}

.portfolioMain {
    min-height: 500px;
	}
 

  .description.arrows h1 {
    font-size: 1.6em;
  }
  
  p.mobile{
	  display:none;
  }
}

@media all and (max-width: 330px) {
  #logoThumb img {
    width: 60px;
  }

  .navbar-default .navbar-nav > li > a {
    margin: 20px 0 0 15px;
  }

  .navbar-nav {
    width: 232px;
  }

  .description.arrows h1 {
    font-size: 1.5em;
  }
  
    p {
    font-size: 1em; line-height:1.7em;
  }
  
}


