{{ partial "header.html" . }}


<section class="container portfolio" id="portfolioSection">

    <div class="grid-sizer"></div>


    <div class="item item-first dark">
        <a href="/work/helloworld" style="background:#5e6f82"><img src="/images/hometiles/helloworld.png" alt="">
            <div class="mask" >
                <div class="description">
                    <h2>Helloworld</h2>
                    <p> UI / UX design</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/bancapp" style="background:#999cbb;"><img src="/images/hometiles/bancapp.png"alt="">
            <div class="mask">
                <div class="description">
                    <h2>Bancapp</h2>
                    <p> UI / UX for android mobile app</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/maccas" style="background:#77a495"><img src="/images/hometiles/maccas.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Mcdonalds</h2>
                    <p>Digital campaign design</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/volkswagen" style="background:#e16b5f"><img src="/images/hometiles/volkswagen.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Volkswagen</h2>
                    <p>Digital UI design</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/westpac" style="background:#5e6f82"><img src="/images/hometiles/westpac.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Westpac</h2>
                    <p> Digital UI design</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/woolworths"  style="background:#a3a7b1"><img src="/images/hometiles/woolworths.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Woolworths</h2>
                    <p> Front end development</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/ecu" style="background:#65a8b7"><img src="/images/hometiles/ecu.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>ECU</h2>
                    <p> Design and development</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/sideprojects"  style="background:#a3a7b1"><img src="/images/hometiles/typism.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Side projects</h2>
                    <p> Illustration / lettering / design</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/government" style="background:#65a8b7"><img src="/images/hometiles/budget.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Australia <br />Government</h2>
                    <p> Social media design</p>
                </div>
            </div>
        </a>
    </div>


    <div class="item item-first dark">
        <a href="/work/gatewayweb" style="background:#999590"><img src="/images/hometiles/gatewayWeb.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Gateway</h2>
                    <p> Front end development</p>
                </div>
            </div>
        </a>
    </div>




    <div class="item item-first dark">
        <a href="/work/victeachers" style="background:#a3a7b1;" ><img src="/images/hometiles/victeach.png"alt="">
            <div class="mask">
                <div class="description">
                    <h2>Victoria Teachers <br /> Credit Union</h2>
                    <p> Front end development</p>
                </div>
            </div>
        </a>
    </div>






    <!--   <div class="item item-first dark">
           <a href="/work/lcu"  style="background:#79a596"><img src="/images/hometiles/lcu.png" alt="">
         <div class="mask">
             <div class="description">
                 <h2>Laboratories <br /> Credit Union</h2>
                 <p> Front end development</p>
             </div>
         </div>
         </a>
       </div>-->


    <!--
        <div class="item item-first dark">
          <a href="/work/dementia" style="background:#999590"><img src="/images/hometiles/dementia.png" alt="">
        <div class="mask" >
            <div class="description">
                <h2>Dementia Daily</h2>
                <p> UI design</p>
            </div>
        </div>
        </a>
      </div>-->



    <div class="item item-first dark">
        <a href="/work/bancapp-tablet" style="background:#5e6f82"><img src="/images/hometiles/bancappTablet.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Bancapp</h2>
                    <p> UX for tablet app</p>
                </div>
            </div>
        </a>
    </div>



    <div class="item item-first dark">
        <a href="/work/gateway" style="background:#e16b5f"><img src="/images/hometiles/gateway.png" alt="">
            <div class="mask">
                <div class="description">
                    <h2>Gateway <br />Credit Union</h2>
                    <p> Mobile app design</p>
                </div>
            </div>
        </a>
    </div>






</section>



</div>
<footer id="footer">
    <div id="footerInner">


        <div id="sectionContact" class="container contact" data-goto="contact" style="position: relative; height: 0px;">
            <div id="contactForm">
                <p class="contact">Get in touch</p>
                <form id="emailForm" method="post" role="form">
                    <div class="form-group">
                        <input id="inputName" class="form-control" type="text" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <input id="inputEmail" class="form-control" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <textarea id="inputMessage" class="form-control" placeholder="Message" rows="5" name="message"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Send message</button>
                </form>
            </div>
        </div>

        <p>&copy; Louise Trainor {{ dateFormat "2006" now }}</p>
    </div>
</footer>

<script src="/js/footer-reveal.min.js"></script>
<script src="/js/footer-reveal.js"></script>

</body>

</html>